################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TemperatureIconMeterSetup/Release
/TemperatureIconMeter/obj
/TemperatureIconMeter/bin
/packages/TaskScheduler.2.8.1
/.vs
/TemperatureIconMeterSetup64/Release
/TemperatureIconMeterSetup/Debug
/TemperatureIconMeterWPF/bin
/TemperatureIconMeterWPF/obj
/packages
/TemperatureIconMeterWixSetup/bin/Release
/TemperatureIconMeterWixSetup/obj
