################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TemperatureIconMeterSetup/Release
/TemperatureIconMeter/obj
/TemperatureIconMeter/bin
/packages/TaskScheduler.2.8.1
/.vs
