<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TemperatureIconMeterWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <TemperatureIconMeterWPF.Properties.Settings>
            <setting name="SafeColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="WarningColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="DangerColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="WarningThreshold" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DangerThreshold" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="UseVerticalBars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="IsRestarting" serializeAs="String">
                <value>False</value>
            </setting>
        </TemperatureIconMeterWPF.Properties.Settings>
    </userSettings>
</configuration>
