<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp2F5EED07769D01188B6E1DDA2EC5B3FB" Guid="*">
                <File Id="filB15AFBDD7410AD56772D69B1FD1048A0" KeyPath="yes" Source="$(var.HarvestPath)\Hardcodet.NotifyIcon.Wpf.dll" />
            </Component>
            <Component Id="cmp43984E66F2A9DD89F93CF7035D8989A0" Guid="*">
                <File Id="filD88CABA6D1DF77999CB7D426C4B617A4" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Win32.TaskScheduler.dll" />
            </Component>
            <Component Id="cmp36162545506C564646EFF7AED20D4D87" Guid="*">
                <File Id="filA005E04D6C984A8EF36F9653B3FA4555" KeyPath="yes" Source="$(var.HarvestPath)\OpenHardwareMonitorLib.dll" />
            </Component>
            <Component Id="cmpB1E64B83A59AC916B9DDC1837635D99B" Guid="*">
                <File Id="filC1BF8928A7B3074836B9FA4ADF1166FB" KeyPath="yes" Source="$(var.HarvestPath)\OpenHardwareMonitorLib.sys" />
            </Component>
            <Component Id="cmpB0CB26D6DC0F3FDF1DEB2F2F81B55499" Guid="*">
                <File Id="filD2DFC1AC8B59387FDCB911C0EEA19B9E" KeyPath="yes" Source="$(var.HarvestPath)\TemperatureIconMeter.exe" />
            </Component>
            <Component Id="cmp87FCA64596655AB927DDEB1B6D9879AE" Guid="*">
                <File Id="filAB34EDD98D6894C7D8A4B94C01FAF9C3" KeyPath="yes" Source="$(var.HarvestPath)\TemperatureIconMeter.exe.config" />
            </Component>
            <Component Id="cmpB5AC76F2952CC9DFFEAE55F2225097DA" Guid="*">
                <File Id="fil6AA069CB067F41A6BD8EE397FDA8959D" KeyPath="yes" Source="$(var.HarvestPath)\Xceed.Wpf.AvalonDock.dll" />
            </Component>
            <Component Id="cmp2A23BAA07F6AEF1BAC39F167324A8F3A" Guid="*">
                <File Id="filBC3F4C1166E0142D06933250742EA7C2" KeyPath="yes" Source="$(var.HarvestPath)\Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
            </Component>
            <Component Id="cmpD2BBFD2B0371F68A1185CC644A1BEA64" Guid="*">
                <File Id="fil4DFF05E2DF20649A72E2FB5FBC3CBA2E" KeyPath="yes" Source="$(var.HarvestPath)\Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
            </Component>
            <Component Id="cmpFFB651FFCBD1B293A7B0FE113C056F8F" Guid="*">
                <File Id="filEFDE58C5ABCFCB31E073211560F487D2" KeyPath="yes" Source="$(var.HarvestPath)\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
            </Component>
            <Component Id="cmpC85BD7478E073743A39F17DF06865203" Guid="*">
                <File Id="fil3DAD59899DDA1B0FCEDF95F84CB3C475" KeyPath="yes" Source="$(var.HarvestPath)\Xceed.Wpf.Toolkit.dll" />
            </Component>
            <Directory Id="dir685A0806E2E8E14FA0BEED541D816845" Name="cs-CZ">
                <Component Id="cmpE3F8869BEF0F274473285F8661074660" Guid="*">
                    <File Id="fil57FFEA7051D1BE22E52C873E503384B6" KeyPath="yes" Source="$(var.HarvestPath)\cs-CZ\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir242DC17B8DFC53C13CAF172FC08B730A" Name="de">
                <Component Id="cmp899508076A55BF753F74CB0DFA5743E3" Guid="*">
                    <File Id="filD54B0D32E6618AD0E9082F3C7288DF3B" KeyPath="yes" Source="$(var.HarvestPath)\de\Microsoft.Win32.TaskScheduler.resources.dll" />
                </Component>
                <Component Id="cmp5C894AE3FF956FCDDF4DFFE3BA89B9C1" Guid="*">
                    <File Id="filB1C9AEB28739722A7265C14C29D55B54" KeyPath="yes" Source="$(var.HarvestPath)\de\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir9AE38F4F5CB5E565E774521E138F44FD" Name="es">
                <Component Id="cmp5A7026E0896D194B82895F7742EE8E12" Guid="*">
                    <File Id="filD9A4BF39D17EB61C5211DDC46DB00008" KeyPath="yes" Source="$(var.HarvestPath)\es\Microsoft.Win32.TaskScheduler.resources.dll" />
                </Component>
                <Component Id="cmp6EFE3E0288B5FA57D98FB920AB342897" Guid="*">
                    <File Id="fil87AEDF35E30560161D787B0A3BF3750B" KeyPath="yes" Source="$(var.HarvestPath)\es\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirB55DFDA91FEE7CCCBC65CA7493B75748" Name="fr">
                <Component Id="cmpB448414C7B3963A581067103B898A290" Guid="*">
                    <File Id="filA5C066B28245C75C64533E4E70637BFD" KeyPath="yes" Source="$(var.HarvestPath)\fr\Microsoft.Win32.TaskScheduler.resources.dll" />
                </Component>
                <Component Id="cmp3EB7F17B0DCBDF3729FDAAAF0CF6B665" Guid="*">
                    <File Id="fil894A87B41983376BAAE165DD02D4FB6C" KeyPath="yes" Source="$(var.HarvestPath)\fr\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir937629FDAC3D30087170D6DA46E383A6" Name="hu">
                <Component Id="cmpFB118A47202A6B98ED49B3C952C22F35" Guid="*">
                    <File Id="fil0686FF7DCF04C68D53BD45FE0C2A8BF6" KeyPath="yes" Source="$(var.HarvestPath)\hu\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir45DE18DD71F3E8DD6BE4A0E2B48778C8" Name="it">
                <Component Id="cmpA2349B128022FD9468B4B0472DF8814A" Guid="*">
                    <File Id="filA9D742E425F8D28208EA368E72789A62" KeyPath="yes" Source="$(var.HarvestPath)\it\Microsoft.Win32.TaskScheduler.resources.dll" />
                </Component>
                <Component Id="cmp0B9527E49327DF46736C8F6F58634C01" Guid="*">
                    <File Id="fil0B4AABB0E6DE194FF7BBE1F51933E675" KeyPath="yes" Source="$(var.HarvestPath)\it\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir491F4D4E37AD7E1BE6B3D0E7F3A72AD8" Name="ja-JP">
                <Component Id="cmp8B4A36BDCC6AB7ECFDC34025BF261B6C" Guid="*">
                    <File Id="fil36D586CE1737226D1901A0D3D01404E7" KeyPath="yes" Source="$(var.HarvestPath)\ja-JP\TemperatureIconMeter.resources.dll" />
                </Component>
                <Component Id="cmp7746FE0DEDBE5684F977FE2DB4787E3E" Guid="*">
                    <File Id="fil191AFECD354E11F36FD7B9C3550A8C3C" KeyPath="yes" Source="$(var.HarvestPath)\ja-JP\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirEC8BD72ABA06A1D2B29D35791CDBBACF" Name="netcoreapp3.1">
                <Component Id="cmp01FF6CDD8BE55128AC8ABB99AB121787" Guid="*">
                    <File Id="fil84F0DF54D5EC05A4ABC753ED04170A52" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\Hardcodet.Wpf.TaskbarNotification.dll" />
                </Component>
                <Component Id="cmp98E22D076B106FA65A26D9A04FE49F38" Guid="*">
                    <File Id="fil0C0A1D5FEA588D6963060292F5771306" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\Microsoft.Win32.TaskScheduler.dll" />
                </Component>
                <Component Id="cmpB2643C831A6EFB40021ABB61D1E97046" Guid="*">
                    <File Id="filAE7A1794BC31B55FD9AA59F6E12037C2" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\OpenHardwareMonitorLib.dll" />
                </Component>
                <Component Id="cmp81C6EA5BB7A9486ED3428B77326EAFCF" Guid="*">
                    <File Id="fil1E74609AACD95BF4F8CF8B99AEA37766" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\TemperatureIconMeter.deps.json" />
                </Component>
                <Component Id="cmpC6A7888770A83651548F8C91EB6DF593" Guid="*">
                    <File Id="filB7A3CC475E66B35AB1A4C3FA870E4A27" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\TemperatureIconMeter.dll" />
                </Component>
                <Component Id="cmpA66050901248522475B358E303830A9C" Guid="*">
                    <File Id="fil3E6FF029547427183C2D17D878CBC9AF" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\TemperatureIconMeter.dll.config" />
                </Component>
                <Component Id="cmp39FA9161F9F9811C02F8BA7E0D531334" Guid="*">
                    <File Id="filC7884C03FFBFBA3ECFE8FC90AD72DB00" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\TemperatureIconMeter.exe" />
                </Component>
                <Component Id="cmpC59243DA51F7C29D345727704614CC64" Guid="*">
                    <File Id="filBC310C5232E26B3D98A5FF4752A275B4" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\TemperatureIconMeter.runtimeconfig.dev.json" />
                </Component>
                <Component Id="cmpC406062E9F25FB15CB0B187BEA4F5303" Guid="*">
                    <File Id="filC4A64464C9650D1C14209C3AB2E66DB3" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\TemperatureIconMeter.runtimeconfig.json" />
                </Component>
                <Component Id="cmp8C3A6AC258D8C6D1C9686655C3F3A217" Guid="*">
                    <File Id="fil705A63069D584B999CF6ED4381E6166F" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\Xceed.Wpf.AvalonDock.dll" />
                </Component>
                <Component Id="cmpB07E5D34E1AF1C9DB8BDE5EB8303915D" Guid="*">
                    <File Id="fil5C8FD7799E464F173CC99773BE4C15B6" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
                </Component>
                <Component Id="cmp02FB1635FA403110D212CF25EE421977" Guid="*">
                    <File Id="filF4CED44E9AD1F26681B095934E3D4CB2" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
                </Component>
                <Component Id="cmpB050D15E398C9A9F723A6614456F7975" Guid="*">
                    <File Id="fil79DD272DE13A84BEEFA37E0098DF4311" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
                </Component>
                <Component Id="cmp564818AC5D34E114FDB4253BA8408FDA" Guid="*">
                    <File Id="filE3DD52BEBEA1DD4BD547D7F3E0AA5FF5" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\Xceed.Wpf.Toolkit.dll" />
                </Component>
                <Directory Id="dir802C08B5C6D07D31AAE3DDD3B3E5F76A" Name="cs-CZ">
                    <Component Id="cmpD06185652AE6B6FD3BCAAE3CA1441DBA" Guid="*">
                        <File Id="fil7490F61582C762B10013C3D6D639E10E" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\cs-CZ\Xceed.Wpf.AvalonDock.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dirE790111E2407CC67726ED8CF42758856" Name="de">
                    <Component Id="cmp9707F696D8D5B55C4E466E33A8000D24" Guid="*">
                        <File Id="fil1B374A6560C3FB02FAE4CF84EBB4CE7C" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\de\Microsoft.Win32.TaskScheduler.resources.dll" />
                    </Component>
                    <Component Id="cmpDFFFA312EC37B57BC0BF25EA255D9012" Guid="*">
                        <File Id="filDAE71FF6E7914637B92A8E8C8501DC38" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\de\Xceed.Wpf.AvalonDock.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dirE5E217028D2B70A3E512CEF8CEA9F905" Name="es">
                    <Component Id="cmp6A7A3AC4DA9B24FC37468613ADF36674" Guid="*">
                        <File Id="filC45549C08577A092E45B408DF870AA6A" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\es\Microsoft.Win32.TaskScheduler.resources.dll" />
                    </Component>
                    <Component Id="cmp16A7FC36E2C66BCB9C6FE45BD9832F31" Guid="*">
                        <File Id="fil27A94C71FABB0E1DB9C04AD16F249650" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\es\Xceed.Wpf.AvalonDock.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir1217A1058B96E7F82D49D7B5DD2AC0E1" Name="fr">
                    <Component Id="cmp1F915DA0E2B0A0C0F07AECE7FAAADC9E" Guid="*">
                        <File Id="fil2A00D41323BE31E34A05B9A1641F6026" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\fr\Microsoft.Win32.TaskScheduler.resources.dll" />
                    </Component>
                    <Component Id="cmp17287D4C5275E1D93306137BA3358E32" Guid="*">
                        <File Id="fil731BE5641560D100D82815290F15BC91" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\fr\Xceed.Wpf.AvalonDock.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dirAAEC821AE684BCAC6106252E20A054D6" Name="hu">
                    <Component Id="cmp8B922332D75667C8BA096F3E878D9520" Guid="*">
                        <File Id="filE8BC9BAAE8A4878D92B6929A9B40A89F" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\hu\Xceed.Wpf.AvalonDock.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir6A63AB5561F54816DE2CF2FF3B7FDAC8" Name="it">
                    <Component Id="cmp1AD572413D4449654C6FD42BB7B386BD" Guid="*">
                        <File Id="fil02AEDB6D059E405DBE548CC9FC76221C" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\it\Microsoft.Win32.TaskScheduler.resources.dll" />
                    </Component>
                    <Component Id="cmp901168B532ADACA0377851D46B4DF5D7" Guid="*">
                        <File Id="filC340BCBA43FEBE5F356D97FDE761D4C8" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\it\Xceed.Wpf.AvalonDock.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dirF37168355B695B59240E04CFCD491D95" Name="ja-JP">
                    <Component Id="cmp7929D97F3605EFD7E85B0143DD33A6FD" Guid="*">
                        <File Id="filA7B260363D3C429825DB1BB354D67C7D" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\ja-JP\TemperatureIconMeter.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir02BEAE5F8C3ABAE30D08D16EEB0E0EB7" Name="pl">
                    <Component Id="cmpEB4B58CEC966A45B49E265C37FA0E730" Guid="*">
                        <File Id="fil7B7256D6C4DE1A5974CA4D86C4B7C87C" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\pl\Microsoft.Win32.TaskScheduler.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir44FF5DF36B6FFD45B0B2F1146509BAC1" Name="pt-BR">
                    <Component Id="cmp5688426CACF621E51D60DDA5F2E3E72C" Guid="*">
                        <File Id="fil5CC3F0CF9EBC346B98D0D2065E2F1574" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\pt-BR\Xceed.Wpf.AvalonDock.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir148F1439432D5AE6862128C18E74F3DE" Name="ro">
                    <Component Id="cmp0B4124E6E6A3D35D68A3EA46B50969ED" Guid="*">
                        <File Id="filA4597DB707790893ABA8CDA45B4A026A" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\ro\Xceed.Wpf.AvalonDock.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir8B8A93046B8CEEB0ABF41A8C4B7C47BB" Name="ru">
                    <Component Id="cmp4F7AC0B1BD1019B4DF555371C41C9603" Guid="*">
                        <File Id="fil45452F7CD7A9D4E25CF8A99463424A0B" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\ru\Microsoft.Win32.TaskScheduler.resources.dll" />
                    </Component>
                    <Component Id="cmpBD9A20F71B0135E0CE3ACC3D4C041FE9" Guid="*">
                        <File Id="fil0BEA79B0CDAD2C43CB31EB568C3B8382" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\ru\Xceed.Wpf.AvalonDock.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir01498CF9191ECA3F17A5A2C81C411531" Name="sv">
                    <Component Id="cmp64B62E5888A3CCF7B87A2918D8BC277D" Guid="*">
                        <File Id="fil7B09892B422CCE0A35735BAD663BDA53" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\sv\Xceed.Wpf.AvalonDock.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dirC548E3CA80CFCD84AC3A92E791AFEA70" Name="zh">
                    <Component Id="cmpA1B9D18ACA4F4ECF4858B1ABD935F76E" Guid="*">
                        <File Id="fil554D340B1DD6E4B4C37186736D2944C5" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\zh\TemperatureIconMeter.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dirBF180F7DEC6C8DC162D8BBF38B412FF7" Name="zh-CN">
                    <Component Id="cmp1323DEC8D14B4AE1D200DBEC80C42A86" Guid="*">
                        <File Id="fil590A508AED337AD7191BEB079DE300DC" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\zh-CN\Microsoft.Win32.TaskScheduler.resources.dll" />
                    </Component>
                    <Component Id="cmp5E02E59CD20DA5C7F7DB15F94AB53FD1" Guid="*">
                        <File Id="filCF52AFE8B0CE2C8195F4C2D29D7586B9" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\zh-CN\TemperatureIconMeter.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dirED36C97A5A98C3D0A02BF4D038472D2E" Name="zh-Hans">
                    <Component Id="cmpF229DA159E42CA26844C4F09A532391E" Guid="*">
                        <File Id="filC5B300ACF17BA56C0DA1EF08B9ED606E" KeyPath="yes" Source="$(var.HarvestPath)\netcoreapp3.1\zh-Hans\Xceed.Wpf.AvalonDock.resources.dll" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dirB6C57608593BDEA87B90E388CF59E0E8" Name="pl">
                <Component Id="cmp3A774BB34CD3664183116E92839E312E" Guid="*">
                    <File Id="filD9A2B76568404A4B8808FEB413DBCC95" KeyPath="yes" Source="$(var.HarvestPath)\pl\Microsoft.Win32.TaskScheduler.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir339F53F3A11C56B053FD1FEC9B438810" Name="pt-BR">
                <Component Id="cmp78E3AC4B6177179C5F50ECB1A8B16D85" Guid="*">
                    <File Id="fil449CD491C0135989D68E91371269A3B8" KeyPath="yes" Source="$(var.HarvestPath)\pt-BR\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirBD3668345143F8EFDFB86A9B73810966" Name="ro">
                <Component Id="cmp1540E6C17030090C628A142AB815893D" Guid="*">
                    <File Id="filA53F285204ABC84BDD30D704D3AD1488" KeyPath="yes" Source="$(var.HarvestPath)\ro\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirE9205C68F964857267FD3312DBFF9A91" Name="ru">
                <Component Id="cmpC873D207335D245293F8991C675338F3" Guid="*">
                    <File Id="fil964FE21AB56A95D400514F68DB5347E8" KeyPath="yes" Source="$(var.HarvestPath)\ru\Microsoft.Win32.TaskScheduler.resources.dll" />
                </Component>
                <Component Id="cmp0D4BE05FC1DE55590C9709CA01911525" Guid="*">
                    <File Id="fil4C2ED72F2BA64BA2A890779CC3B77DA4" KeyPath="yes" Source="$(var.HarvestPath)\ru\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir8FBB04D7AB5FE55FCF40758128EC763E" Name="sv">
                <Component Id="cmpC21D9CCB5856693FB3CE2A23AFB7DD83" Guid="*">
                    <File Id="fil75EA045A69F3E238DA47EBBABBF5DCD8" KeyPath="yes" Source="$(var.HarvestPath)\sv\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirAFDFAB8989A0B2FA3B5E468F44862509" Name="zh">
                <Component Id="cmpD5FA0DC7B58C0DB9DA5B9CD90CAFE448" Guid="*">
                    <File Id="fil4B191A0E5F4CA67F2F60FA70D9E07F83" KeyPath="yes" Source="$(var.HarvestPath)\zh\TemperatureIconMeter.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir8C5E37FA87D1897FFB78337F53EB198C" Name="zh-CN">
                <Component Id="cmpFA6D9FD1AAA2046A7577475784CE8BCC" Guid="*">
                    <File Id="fil9AE873A7FEB47AAC64F449F1E25BB97F" KeyPath="yes" Source="$(var.HarvestPath)\zh-CN\Microsoft.Win32.TaskScheduler.resources.dll" />
                </Component>
                <Component Id="cmp3FE96D0210F57B2467FCBB3F6AF6AF2F" Guid="*">
                    <File Id="filB0B2388C990DE4E9BD52437D64C39F64" KeyPath="yes" Source="$(var.HarvestPath)\zh-CN\TemperatureIconMeter.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir4A8DD77DBC79775EC39CACBC8AA06107" Name="zh-Hans">
                <Component Id="cmp11A3FE50B66CC04F854A4486A5199C89" Guid="*">
                    <File Id="fil6EE1E4B1FB2A7DF0A95E3D283E73ADFA" KeyPath="yes" Source="$(var.HarvestPath)\zh-Hans\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated">
            <ComponentRef Id="cmp2F5EED07769D01188B6E1DDA2EC5B3FB" />
            <ComponentRef Id="cmp43984E66F2A9DD89F93CF7035D8989A0" />
            <ComponentRef Id="cmp36162545506C564646EFF7AED20D4D87" />
            <ComponentRef Id="cmpB1E64B83A59AC916B9DDC1837635D99B" />
            <ComponentRef Id="cmpB0CB26D6DC0F3FDF1DEB2F2F81B55499" />
            <ComponentRef Id="cmp87FCA64596655AB927DDEB1B6D9879AE" />
            <ComponentRef Id="cmpB5AC76F2952CC9DFFEAE55F2225097DA" />
            <ComponentRef Id="cmp2A23BAA07F6AEF1BAC39F167324A8F3A" />
            <ComponentRef Id="cmpD2BBFD2B0371F68A1185CC644A1BEA64" />
            <ComponentRef Id="cmpFFB651FFCBD1B293A7B0FE113C056F8F" />
            <ComponentRef Id="cmpC85BD7478E073743A39F17DF06865203" />
            <ComponentRef Id="cmpE3F8869BEF0F274473285F8661074660" />
            <ComponentRef Id="cmp899508076A55BF753F74CB0DFA5743E3" />
            <ComponentRef Id="cmp5C894AE3FF956FCDDF4DFFE3BA89B9C1" />
            <ComponentRef Id="cmp5A7026E0896D194B82895F7742EE8E12" />
            <ComponentRef Id="cmp6EFE3E0288B5FA57D98FB920AB342897" />
            <ComponentRef Id="cmpB448414C7B3963A581067103B898A290" />
            <ComponentRef Id="cmp3EB7F17B0DCBDF3729FDAAAF0CF6B665" />
            <ComponentRef Id="cmpFB118A47202A6B98ED49B3C952C22F35" />
            <ComponentRef Id="cmpA2349B128022FD9468B4B0472DF8814A" />
            <ComponentRef Id="cmp0B9527E49327DF46736C8F6F58634C01" />
            <ComponentRef Id="cmp8B4A36BDCC6AB7ECFDC34025BF261B6C" />
            <ComponentRef Id="cmp7746FE0DEDBE5684F977FE2DB4787E3E" />
            <ComponentRef Id="cmp01FF6CDD8BE55128AC8ABB99AB121787" />
            <ComponentRef Id="cmp98E22D076B106FA65A26D9A04FE49F38" />
            <ComponentRef Id="cmpB2643C831A6EFB40021ABB61D1E97046" />
            <ComponentRef Id="cmp81C6EA5BB7A9486ED3428B77326EAFCF" />
            <ComponentRef Id="cmpC6A7888770A83651548F8C91EB6DF593" />
            <ComponentRef Id="cmpA66050901248522475B358E303830A9C" />
            <ComponentRef Id="cmp39FA9161F9F9811C02F8BA7E0D531334" />
            <ComponentRef Id="cmpC59243DA51F7C29D345727704614CC64" />
            <ComponentRef Id="cmpC406062E9F25FB15CB0B187BEA4F5303" />
            <ComponentRef Id="cmp8C3A6AC258D8C6D1C9686655C3F3A217" />
            <ComponentRef Id="cmpB07E5D34E1AF1C9DB8BDE5EB8303915D" />
            <ComponentRef Id="cmp02FB1635FA403110D212CF25EE421977" />
            <ComponentRef Id="cmpB050D15E398C9A9F723A6614456F7975" />
            <ComponentRef Id="cmp564818AC5D34E114FDB4253BA8408FDA" />
            <ComponentRef Id="cmpD06185652AE6B6FD3BCAAE3CA1441DBA" />
            <ComponentRef Id="cmp9707F696D8D5B55C4E466E33A8000D24" />
            <ComponentRef Id="cmpDFFFA312EC37B57BC0BF25EA255D9012" />
            <ComponentRef Id="cmp6A7A3AC4DA9B24FC37468613ADF36674" />
            <ComponentRef Id="cmp16A7FC36E2C66BCB9C6FE45BD9832F31" />
            <ComponentRef Id="cmp1F915DA0E2B0A0C0F07AECE7FAAADC9E" />
            <ComponentRef Id="cmp17287D4C5275E1D93306137BA3358E32" />
            <ComponentRef Id="cmp8B922332D75667C8BA096F3E878D9520" />
            <ComponentRef Id="cmp1AD572413D4449654C6FD42BB7B386BD" />
            <ComponentRef Id="cmp901168B532ADACA0377851D46B4DF5D7" />
            <ComponentRef Id="cmp7929D97F3605EFD7E85B0143DD33A6FD" />
            <ComponentRef Id="cmpEB4B58CEC966A45B49E265C37FA0E730" />
            <ComponentRef Id="cmp5688426CACF621E51D60DDA5F2E3E72C" />
            <ComponentRef Id="cmp0B4124E6E6A3D35D68A3EA46B50969ED" />
            <ComponentRef Id="cmp4F7AC0B1BD1019B4DF555371C41C9603" />
            <ComponentRef Id="cmpBD9A20F71B0135E0CE3ACC3D4C041FE9" />
            <ComponentRef Id="cmp64B62E5888A3CCF7B87A2918D8BC277D" />
            <ComponentRef Id="cmpA1B9D18ACA4F4ECF4858B1ABD935F76E" />
            <ComponentRef Id="cmp1323DEC8D14B4AE1D200DBEC80C42A86" />
            <ComponentRef Id="cmp5E02E59CD20DA5C7F7DB15F94AB53FD1" />
            <ComponentRef Id="cmpF229DA159E42CA26844C4F09A532391E" />
            <ComponentRef Id="cmp3A774BB34CD3664183116E92839E312E" />
            <ComponentRef Id="cmp78E3AC4B6177179C5F50ECB1A8B16D85" />
            <ComponentRef Id="cmp1540E6C17030090C628A142AB815893D" />
            <ComponentRef Id="cmpC873D207335D245293F8991C675338F3" />
            <ComponentRef Id="cmp0D4BE05FC1DE55590C9709CA01911525" />
            <ComponentRef Id="cmpC21D9CCB5856693FB3CE2A23AFB7DD83" />
            <ComponentRef Id="cmpD5FA0DC7B58C0DB9DA5B9CD90CAFE448" />
            <ComponentRef Id="cmpFA6D9FD1AAA2046A7577475784CE8BCC" />
            <ComponentRef Id="cmp3FE96D0210F57B2467FCBB3F6AF6AF2F" />
            <ComponentRef Id="cmp11A3FE50B66CC04F854A4486A5199C89" />
        </ComponentGroup>
    </Fragment>
</Wix>